

th, td {
    border: 3px solid #537188; 
    padding: 8px; 
    text-align: left; 
}

tbody tr:nth-child(odd) {
    background-color: #dee2e6;
}

tbody tr:nth-child(even) {
    background-color: #dbeafe;
}


